@media only screen and (max-width: 1200px) {
    #leftCol {
        width: 49px;
    }
    .leftSearch{
      display: none;
    }
    .posterName{
      display: none;
    }
}
@media only screen and (max-width: 1023px) {
    .rightNavHide {
      display: none !important;
    }
}

.friendText{
  text-align: center;
}
.leftNavViewerCount{
  z-index: 1;
  text-align: right;
  color: red;
}
.userInfo{
  margin-left: 5px;
}

@media only screen and (min-width: 1201px) {
    #leftCol {
        width: 239px;
    }
}
.dropdown-content{
  border: 1px red;
}
.lastItem{
  width: 240px;
  z-index: 3;
  padding: 0;
  margin-top: 1px;
}
#drpDown{
  padding: 0;
}
.userInfoWidth{
  width:100%
}
.slider{
  margin-top:5px;
}
.slider ul li{
  float: left;
  display:inline-block;
}
#streamRecPreview{
  overflow: hidden;
}
li img{
  margin: 0;
  padding: 0;
}
.super-left{
  float:left;
  width: 20px;
  padding: 0;
}
.super-right{
  float: right;
  width: 20px;
  padding: 0;

}

#leftCol{
  height: 100%;
}
.posterName{
  overflow: hidden;
}

.streamerLeftNavImage{
    float: left;
    display: inline;
    width: 40;
    height: 40px;

}

html, body {
  -ms-overflow-style: none;  // IE 10+
   overflow: -moz-scrollbars-none;  // Firefox
}
::-webkit-scrollbar{
   display: none;  // Safari and Chrome
}
.leftNavShow{
  z-index: 2;
}

.follow{
  position: absolute;
  right: 5px;
}
.downArrow{
  position: absolute;
  right: 30px;
  top: 5px;
}
#navbarContainer {
  /*position: fixed;*/
  height: 52px;
  width: 100%;
}


.contentBox{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  top: 52px;
  margin: 0;
}

.columns {
  height: 100%;
  margin-top: 0;
  margin-right: -5px;
  margin-left: 0;
}
#twoContContainer{
  margin-right: 0;
  overflow: auto;
}
.column{
  padding: 0;
}
.card{
  margin: 5px 5px  5px  5px;
}
.module-section{
  overflow: auto;
  height: 100%;
}
#streamPreview{
  padding: 0;
}
.recStreamDetail{
  margin: 8px;
}
.column.is-10{
  max-width: 100%;
  overflow: scroll;
}


/*need to test if these are still needed*/
.column.is-5::-webkit-scrollbar{
   display: none;  // Safari and Chrome
}
.column.is-7{
  -ms-overflow-style: none;  // IE 10+
   overflow: -moz-scrollbars-none;  // Firefox
}
.column.is-7::-webkit-scrollbar{
   display: none;  // Safari and Chrome
}
/*end*/


#streamerTextPost{
  margin: 0;
}

.column.is-2{
  border-right-style: solid;
  border-right-color: #3a2e5b;
}


.followingStreamer{
  overflow: hidden;
/* height: 100%; */
display: flex;
align-items: center;
margin-top: 5px;
}
.leftSearch{
  position: fixed;
  bottom: 5px;
  width: 236px;

}
#desMargins{
  margin-left: 8px;
  margin-bottom: 10px
}
.input::placeholder {
  color: #dad8de;
}
.column.is-7 .card{
  margin-right: 0.75rem;
}
#streamerImage{
  max-width: 40px;
  max-height: 40px;
}
#streamerLeftNavName{
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}
#wrapper{
  max-width:100%;
  padding:50px 75px 50px 45px;
  position:relative;
}
.circletag {
    width: 24px;
    height: 24px;
    background: #E6E7ED;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-position:50% 50%;
    margin: 5px 5px;
    background-repeat:no-repeat;
}

.streamSlideshow{
  margin-left: 5px;
}

.media-content{
  display: inline-block;
}

.reaction {
  max-width: 24px;
  max-height: 24px;
  border-radius: 50%;
}
.friendListText{
  margin-top: 50px !important;
  margin-left: 5px !important;
}
