html, body {
  background-color: #201c2b;
  /*box-sizing: border-box;*/
}

.follow{
  position: absolute;
  right: 5px;
}
button{
  background-color: purple;
  border: none;
  color: white;
}


#navbarContainer {
  /*position: fixed;*/
  height: 52px;
  width: 100%;
  z-index: 1;
  background-color: orange;
}

.contentBox{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  top: 52px;
  margin: 0;
  /*border: 3px solid #73AD21;*/
}

.columns {
  height: 100%;
  margin-top: 0;
  margin-right: -5px;
}
.column{
  padding: 0;
}
#leftCol{
  height: 100%;
  background-color: red;
}
#leftColMargin{
  margin: 0;
}


.card{
  background-color: #201c2b;
  color: lightgrey;
  margin: 5px 5px  5px  5px;
}

#middleContent{
  /*margin-top: 10px;*/
}
#streamPreview{
  width: 100%;
  margin: 0;
  padding: 0;
}
.recStreamDetail{
  margin: 8px;
  position: inline;
}
.column.is-4{
  height: 100%;
  background-color: green;
  overflow: auto;
  -ms-overflow-style: none;  // IE 10+
   overflow: -moz-scrollbars-none;  // Firefox
}
.column.is-4::-webkit-scrollbar{
   display: none;  // Safari and Chrome
}
.column.is-6{
  height: 100%;
  background-color: teal;
  overflow: auto;
  -ms-overflow-style: none;  // IE 10+
   overflow: -moz-scrollbars-none;  // Firefox
}
.column.is-6::-webkit-scrollbar{
   display: none;  // Safari and Chrome
}
#streamerTextPost{
  color: lightgrey;
  margin: 0;
}


.column.is-6 .card{
  margin-right: 0.75rem;
}
#streamerImage{
  max-width: 40px;
  max-height: 40px;
}
.circletag {
    width: 24px;
    height: 24px;
    background: #E6E7ED;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-image: url(no.png);
    background-position:50% 50%;
    margin: 5px 5px;
    background-repeat:no-repeat;
}
#reactionCount{
  margin-bottom: 50px;
}
.media-content{
  display: inline-block;
}
.reaction {
  max-width: 24px;
  max-height: 24px;
  border-radius: 50%;
}
/*
TWO CONTENT COLUMNS WILL BE STICKY
*/
